;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.0"]]

 :dev-http {8080 "dist"}

 :builds
 {:app                               ;; name of build
   {:target :browser                 ;; target the browser
    :output-dir "dist/app/js"      ;; output js files here
    :asset-path "/app/js"            ;; used to construct the URL
    :modules {:main                  ;; we need one module
               ;; start `counter.app/init` when the JS loads
               {:init-fn counter.app/init}}}}}
