.badge {
    background-color: $lightgrey;
    font-family: "Fira Sans Condensed", 'sans-serif';
    font-weight: 400;
    border-radius: 4px;
    padding: .420em .570em;
    margin-bottom: 4px;
    display: inline-block;
}

.badge--inverted {
    background-color: white;
}

.badge--large-only {
    @include on-large-screen-only(inline-block)
}

.button {
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: $lightgrey;
    }
}

.badge.button:hover,
.card.button:hover {
    background-color: #DDD;
}

.button--text {
    display: inline;
    padding: 8px 16px;
    border-radius: 4px;
}
