@mixin ripple-effect($color, $color_hover) {
    background-position: center;
    transition: background 0.8s;
  
    &:hover {
        background: $color_hover radial-gradient(circle, transparent 1%, $color_hover 1%) center / 20000%;
    }
  
    &:active {
        background-color: $color;
        background-size: 100%;
        transition: background 0s;
    }
}
