.card {
    display: flex;
    background-color: $lightgrey;
    border-radius: 4px;
    line-height: 0;
    margin-bottom: 16px;

    &:hover {
        background-color: #DDD;
    }

    .thumbnail {
        line-height: 0;
    
        img {
            border-radius: 4px;
            height: 120px;
        }
    }

    .info {
        line-height: 1;
        display: grid;
        align-content: center;
        margin: 0 16px;
        font-size: 14px;

        .channel-name {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 9px;
        }

        .show-title, .next-title {
            font-weight: 300;
            margin-bottom: 4px;
        }

        .show-title, .title {
            @include truncate-lines(2)
        }

        .next-title {
            @include truncate-lines(1);
            @include on-large-screen-only(-webkit-box);
        }
    }
}

/* --------------------------------------------------------------------------------------------- */
/*                                         T A B L E T T E                                       */
/* --------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 736px) {
    .channel-cards {
        display: grid;
        grid-template-columns: repeat(2, $vertical_card_width);
        grid-gap: 32px;
        margin: auto;
    }
    
    .card {
        width: $vertical_card_width;
        height: 480px;
        flex-direction: column;
        border-radius: 8px;
    
        .thumbnail img {
            border-radius: 8px;
            height: $vertical_card_width;
        }
    
        .info {
            margin: 24px 24px;
            font-size: 16px;
            align-content: start;
    
            .channel-name {
                font-size: 24px;
                margin-bottom: 12px;
            }
    
            .show-title, .next-title {
                margin-bottom: 6px;
            }
        }
    }
}

@media only screen and (min-width: $list_big_breakpoint) {
    .channel-cards {
        grid-template-columns: repeat(3, $vertical_card_width);
    }
}

/* --------------------------------------------------------------------------------------------- */
/*                                         D E S K T O P                                         */
/* --------------------------------------------------------------------------------------------- */

@media only screen and (min-width: $list_large_breakpoint) {
    .channel-cards {
        grid-template-columns: repeat(2, $horizontal_card_width);
    }
    
    .card {
        width: $horizontal_card_width;
        height: 240px;
        flex-direction: row;
    
        .thumbnail img {
            height: 240px;
        }

        .info .show-title {
            @include truncate-lines(1);
        }

        .title {
            margin-bottom: 24px;
        }
    }
}
