:root {
    font-size: 16px;
}

html {
    font-family: $sans_serif;
    background-color: var(--background-color);
    font-weight: 300;
}

strong {
    font-weight: bold;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--font-black);
    line-height: 1.2;
}

body {
    margin: 16px 16px 80px 16px;
    min-width: 300px;
}

h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

#app.app--player-visible .wrapper  {
    padding-bottom: 3em;
}

.wrapper {
    position: absolute;
    min-width: 100%;
    padding: 16px;
    top: 0;
    left: 0;
}

.theme-switcher {
    height: 22px;
    width: 22px;
    min-width: 22px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3;

    &:hover {
        cursor: pointer;
    }
  }

/* --------------------------------------------------------------------------------------------- */
/*                                         T A B L E T T E                                       */
/* --------------------------------------------------------------------------------------------- */

@media only screen and (min-width: $list_medium_breakpoint) {
    body {
        margin: 32px 32px 112px 32px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    #app.app--player-visible .wrapper  {
        padding-bottom: 4em;
    }

    .wrapper {
        padding: 32px;
    }
}

/* --------------------------------------------------------------------------------------------- */
/*                                         D E S K T O P                                         */
/* --------------------------------------------------------------------------------------------- */

// @media only screen and (min-width: $player_big_breakpoint) {
//     .wrapper {
//         padding: 32px;
//     }
// }
